h1 {
    text-align: center;
    font-weight: 400;
}

/* region 模态框 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#add-user-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 300px;
    height: 330px;
    margin-top: -165px;
    margin-left: -150px;
    padding: 0;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    background-color: #eaeaea;
    outline: none;
}

#add-user-dialog .title {
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
}

#add-user-dialog form {
    width: 80%;
    margin: 0 auto;
}

#add-user-dialog form .input-widget,
#add-user-dialog form .select-widget {
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #aeaeae;
    background-color: #d9d9d9;
    border-radius: 4px;
}

#add-user-dialog form .input-widget label,
#add-user-dialog form .select-widget .text {
    display: block;
    width: 64px;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #aeaeae;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

#add-user-dialog form .input-widget input,
#add-user-dialog form .select-widget select {
    display: block;
    flex: 1;
    min-width: 0;
    padding: 0 10px;
    border-width: 0;
    border-radius: 0 4px 4px 0;
    background-color: #fbfbfb;
    font-size: 16px;
    line-height: 30px;
    outline: none;
}

#add-user-dialog form .btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

#add-user-dialog form .btn-group button {
    display: block;
    padding: 6px 12px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #adc3d2;
    border-radius: 4px;
    background-color: #6ab6e8;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

#add-user-dialog form .btn-group button:hover {
    background-color: #2b86db;
    color: #ebeae7;
}

#add-user-dialog form #add-user-error-message {
    margin-top: 14px;
    text-align: center;
    color: #f43333;
    font-size: 14px;
}
/* endregion */

/* region 按钮组 */
#btn-group {
    margin-bottom: 20px;
    text-align: center;
}

#btn-group #add-user {
    padding: 10px 20px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #adc3d2;
    border-radius: 4px;
    background-color: #6ab6e8;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

#btn-group #add-user:hover {
    background-color: #2b86db;
    color: #ebeae7;
}

/* endregion */

/* region 用户列表 */
#main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#main .row {
    position: relative;
    min-height: 42px;
    border: 1px solid #c6d3df;
    border-top-width: 0;
    background-color: #cce7f9;
}

#main .row.title {
    border: 1px solid #b5c1cc;
    border-bottom: 2px solid #959fa8;
    background-color: #a9d1ec;
}

#main .row.title .permission {
    border-left: 1px solid #b5c1cc;
}

#main .row.title .delete-btn {
    border-left: 1px solid #b5c1cc;
    background-color: #a9d1ec;
}

#main .row .username {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 127px 10px 10px;
    border-right: 1px solid #c6d3df;
    word-break: break-all;
}

#main .row .permission {
    position: absolute;
    top: 0;
    right: 43px;
    width: 84px;
    height: 100%;
    border-left: 1px solid #c6d3df;
}

#main .row .permission .text {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 22px;
    margin-top: -11px;
    text-align: center;
}

#main .row .delete-btn {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 100%;
    padding: 0;
    border-width: 0;
    border-left: 1px solid #c6d3df;
    background-color: #cce7f9;
}

#main .row:not(.title) .delete-btn {
    cursor: pointer;
}

#main .row:not(.title) .delete-btn:hover {
    background-color: #2b86db;
}

#main .row .delete-btn .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    fill: red;
}
/* endregion */
